.row__posters{
    cursor: pointer;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1rem;
}

.row__poster{
    width: 100%;
    object-fit: contain;
    max-height: 300px;
    margin-right: 10px;
    transition: transform 450ms;
}
.row__poster:hover{
    transform: scale(1.08);
}
.Tuttt{
    display: flex;
    color: aliceblue !important; 
    font-size: 16px !important;
    background-color: rgb(75, 0, 0);
    z-index: 98;
    width: 500px;
    height: 300px;
}