@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}
*::-webkit-scrollbar{
    background: #00131a;
}
*::-webkit-scrollbar-thumb{
    background: #053d52;
    border-radius: 15px;
}
*::-webkit-scrollbar-thumb:active{
    background-color: rgb(64, 133, 133);
}

body{
    background-color: #001a23;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
nav{
    background-color: #172f37;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    justify-content: space-between;
    
}
.title{
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 0 !important;
}
.search{
    background-color: transparent;
    border: 2px solid #001a23;
    border-radius: 50px;
    font-size: 1rem;
    color: azure;
    padding: 0.5rem 1.5rem;
    outline: none;
}
.this-one{
    font-size: 25px;
    margin-top: 6rem;
    font-weight: bolder;
    padding-left: 1rem;
}
.titles{
    font-weight: bolder;
    padding-left: 1rem;
    font-size: 25px;
}

.movie-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.movie-info h1{
    font-size: 14px;
    margin: 0;
}
.movie-info p{
    font-size: 10px;
    background: #001a23a8;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
}
.movie-info span{
    font-size: 14px;
}
.movie-info{
    align-items: center;
    justify-content: space-between;
    display: inline;
    padding: 2rem;
}
.movie{
    width: 200px;
    max-height: 300px;
    position: relative;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0 , 0, 0.1);
    overflow: hidden;
    margin: 0.2rem;
}
.movie img{
    max-width:100% ;
}
.movie-over{
    padding: 1rem;
    color: #001a23;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    font-size: 13px;
    overflow: auto;
    background-color: #99e2b4;
    box-shadow: 0px -3px 5px rgba(0, 0 , 0, 0.4);
    transform: translateY(105%);
    transition: transform .3s ease-in-out; 
    border-radius: 5px;
}
.movie:hover .movie-over{
    transform: translateY(0%);
}

.tag{
    background-color: #001a23;
    padding: 0.3rem;
    border-radius: 5px;
    font-weight: bold;
}
.tag.green{
    color: green;
}
.tag.orange{
    color:orange;
}
.tag.red{
    color: red;
}