@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    margin: 0;
}
*::-webkit-scrollbar{
    background: transparent ;
    width: 0%;
    height: 0.5rem;
}
*::-webkit-scrollbar-thumb{
    background-color: rgb(18, 22, 22);
    border-radius: 15px;
}
*::-webkit-scrollbar-thumb:active{
    background: rgb(5, 26, 34);
}

body{
    background-color: #111;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
nav{
    background-color: #172f37;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    justify-content: space-between;
    
}

.titles{
    margin: 0%;
    font-weight: bolder;
    padding: 0.5rem 0 0 1rem;
    font-size: 25px;
}
