@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    background-color: #001a23;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
header{
    background-color: #172f37;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
}
.search{
    background-color: transparent;
    border: 2px solid #001a23;
    border-radius: 50px;
    font-size: 1rem;
    color: azure;
    padding: 0.5rem 1.5rem;
    outline: none;
}
.movie-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    flex-wrap: wrap;
}
.movie-info h1{
    font-size: 14px;
    margin: 0;
}
.movie-info span{
    font-size: 14px;
}
.movie-info{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 1rem;
}
.movie{
    position: relative;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0 , 0, 0.1);
    overflow: hidden;
    background-color: #14746f;
    margin: 1rem;
    width: 300px;
}
.movie img{
    max-width:100% ;
}
.movie-over{
    padding: 1rem;
    color: #001a23;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    overflow: auto;
    background-color: #99e2b4;
    box-shadow: 0px -3px 5px rgba(0, 0 , 0, 0.4);
    transform: translateY(105%);
    transition: transform .3s ease-in-out; 
    border-radius: 5px;
}
.movie:hover .movie-over{
    transform: translateY(0%);
}